@model T2502E_Nguyen_Van_Linh_dotNet_Core.Models.ComicBook

<h2>Edit Comic Book</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ComicBookId"/>

    <div class="mb-3">
        <label>Title</label>
        <input asp-for="Title" class="form-control"/>
    </div>

    <div class="mb-3">
        <label>Author</label>
        <input asp-for="Author" class="form-control"/>
    </div>

    <div class="mb-3">
        <label>Price Per Day</label>
        <input asp-for="PricePerDay" class="form-control"/>
    </div>

    <button class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>